<li>
	{{restaurant}}
	{{foodItem}}
	
	<button class="change-status" data-id="{{id}}" data-newstatus="{{eaten}}">
		{{#if eaten}}EATEN!{{else}}TIME TO EAT!{{/if}}
	</button>
	
	<button class="delete-food" data-id="{{this.id}}">DELETE!</button>
</li>
